@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-brand: #C51A1B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand: #C51A1B;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-montserrat: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
    --color-brand: #C51A1B;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

html {
  overflow-x: hidden;
}
